.home{
    background-color:none;
    font-family:cursive;
    font-size: x-large;
    text-align:center;
}
.container{
    background-color:rgb(43, 218, 237);
    font-family:cursive;
    font-size:large;

}
.fas fa- home{
}
