.home{
    background-color:none;
    font-family:cursive;
    font-size: x-large;
    text-align:center;
}
.imagesslide{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

