body{
    background-size: cover;
    background-position:center;
    box-sizing:border-box;
    font-family: cursive;
    text-align: center;
    font-size:medium ;
    margin: 0;
}
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    height:50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(30, 255, 9, 0.2);
    margin: 8px;
  }
  
  .about-section {
    text-align: center;
    background-color: rgb(133, 226, 195);
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .fa-brands,.fa{
    margin-right: 25px;
    color: black;

}